<footer class="pt-4">
  <div class="w-100 bg-primary py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-lg-6 col-sm-12">
          <p class="text-lg-start text-center text-light light-300">
            © Copyright 2022 Team4 IT20A2B. Dong A University.
          </p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <p class="text-lg-end text-center text-light light-300">
            Liên hệ
            <a
              rel="sponsored"
              class="text-decoration-none text-light"
              href="../contact"
              target="_blank"
              ><strong>Team 4</strong></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
