<title>Đánh giá các trường ở Việt Nam</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" href="images/logo.svg" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link href="/stylesheets/bootstrap.css" rel="stylesheet" />
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
<link href="/stylesheets/boxicon.min.css" rel="stylesheet" />
<link href="/stylesheets/custom.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet" />