<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1
                                class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                Đồ án <strong>Node JS</strong> của <br /> nhóm 4
                            </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                Đây là đồ án tốt nghiệp Node JS của team 4 sử dụng công nghệ
                                <a rel="nofollow" href="https://expressjs.com/" target="_parent">Express</a>.
                                Kết hợp database 
                                <a rel="nofollow" href="https://www.mongodb.com/" target="_blank">MongoDB</a>. và các
                                công nghệ khác kết hợp.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#products"
                                role="button">Xem đánh giá</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                Thành viên nhóm 4
                            </h1>
                            <p class="banner-body text-muted py-3">
                                Bao gồm 6 thành viên.
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#products"
                                role="button">Xem đánh giá</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                                <strong>Chức năng</strong> đồ án
                            </h1>
                            <p class="banner-body text-muted py-3">
                                CRUD, search, ranking, comments, report
                            </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#products"
                                role="button">Xem đánh giá</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="prev">
                <i class="bx bx-chevron-left"></i>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button"
                data-bs-slide="next">
                <i class="bx bx-chevron-right"></i>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>