<section class="bg-light w-100">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h3 py-5 text-primary typo-space-line text-uppercase">
                    Website Review các Trường Đại học
                    <i class="spinner-grow text-primary mx-2"></i>

                </h1>
                <p class="light-300">
                    Website <strong><a class="text-decoration-none" rel="nofollow" href="/">Review
                            University</a></strong> có tầm quan trọng như
                    thế nào đối với
                    một số học sinh sinh viên chúng ta? Mục đích và ý
                    nghĩa của việc xây dựng website Review là gì? <br>
                    <a class="text-decoration-none" rel="nofollow" href="#member">Nhóm
                        4</a>
                    đã lên kế hoạch thu thập nhiều thông tin của các bạn học
                    sinh sinh viên trên cả nước thông qua cuộc khảo sát từng
                    các nhân, nhìn chung có thể thấy rằng có rất nhiều bạn
                    sinh viên chọn trường không phù hợp với mình, nối tiếp
                    thực trạng đó các bạn học sinh lo lắng không biết nên
                    chọn trường nào cho phù hợp với mình. <br>
                    Chính vì vậy, nhóm mình đã triển khai một dự án website
                    Review một cách đầy đủ và chính xác nhất về ngôi trường
                    mà các bạn muốn tìm hiểu! <br>
                    Công cụ chính được sử dụng xây dựng website là
                    <strong>NodeJS</strong>
                </p>
            </div>
            <div class="col-lg-6">
                <img src="/images/about-banner.svg">
            </div>
        </div>
    </div>
</section>
<section class="container py-5" id="member">
    <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">
        <div class="col-lg-4">
            <h2 class="h2 py-5 text-primary typo-space-line text-uppercase">
                Đội
                ngũ của chúng tôi</h2>
            <p class="text-muted light-300">
                Đội ngũ để xây dựng Đồ án bao gồm 6 thành viên. Đứng đầu là
                nhóm Trưởng
                <i><a class="text-decoration-none" href="#">Mai
                        Tỵ</a></i> và 5 thành viên lần lượt là
                <i><a class="text-decoration-none" href="#">Hoàng Thái
                        Ninh</a></i>, <i><a class="text-decoration-none" href="#">Đặng Trần Ngọc
                        Mạnh</a></i>, <i><a class="text-decoration-none" href="#">Hoàng Đình
                        Huân</a></i>, <i><a class="text-decoration-none" href="#">Phạm Mạnh
                        Cường</a></i>, <i><a class="text-decoration-none" href="#">Nguyễn Tấn
                        Phát</a></i>. Nhóm đã xây dựng trang website cuối kỳ
                học phần <Strong>NodeJS</Strong>.
            </p>
        </div>
        <div class="col-lg-8">
            <div class="container owl-2-style">
                <div class="owl-carousel owl-Run-Slider">
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/tym.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Mai Tỵ</strong></li>
                            <li>Business Development</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/ninhht.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Hoàng Thái Ninh</strong></li>
                            <li>Media Development</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/manhdtn.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Đặng Trần Ngọc Mạnh</strong></li>
                            <li>Developer</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/huanhd.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Hoàng Đình Huân</strong></li>
                            <li>Developer</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/cuongpm.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Phạm Mạnh Cường</strong></li>
                            <li>Developer</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img class="team-member-img img-fluid rounded-circle p-4" src="/images/phatnt.jfif"
                            alt="Card image">
                        <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                            <li><strong>Nguyễn Tấn Phát</strong></li>
                            <li>Developer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            if ($(".owl-Run-Slider").length > 0) {
                $(".owl-Run-Slider").owlCarousel({
                    center: false,
                    items: 1,
                    loop: true,
                    stagePadding: 0,
                    margin: 20,
                    smartSpeed: 1000,
                    autoplay: true,
                    nav: true,
                    dots: true,
                    pauseOnHover: false,
                    responsive: {
                        600: {
                            margin: 20,
                            nav: true,
                            items: 2,
                        },
                        1000: {
                            margin: 20,
                            stagePadding: 0,
                            nav: true,
                            items: 3,
                        },
                    },
                });
            }
        });
    })
</script>